<div class="row">
    <ul class="list-group songs">
      {{#if canCreateSongs}}
          <li class="list-group-item">
              <form class="new-song-form" {{action 'createSong' on='submit'}}>
                {{input type="text" class="new-song" placeholder="New song" value=title}}
                  <button class="btn btn-primary btn-sm new-song-button"
                          disabled={{isAddButtonDisabled}} {{action "createSong"}}>Add
                  </button>
              </form>
          </li>
      {{/if}}

      {{#each model as |song|}}
          <li class="list-group-item song">
            {{song.title}} by <em>{{song.band.name}}</em>
            {{star-rating item=song rating=song.rating setAction="updateRating"}}
          </li>
      {{/each}}

      {{#if noSongs}}
          <div class="list-group-item empty-list">
              <div class="empty-message">
                  There are no songs yet. Why don't you <a href="#" class="" {{action
              "enableSongCreation"}}>create one</a>?
              </div>
          </div>
      {{/if}}
    </ul>
</div>